body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding-top: 50px;
}
a {
    color: #eee;
}
a:hover,
a:focus {
    color: #f9aa03;
    text-decoration: none;
    outline: none;
}
select {
    margin: 5px 0 5px 0;
    border: 2px solid #444;
    background: #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #999;
    outline: none;
}
select.input-sm {
    margin: 5px 0 5px 0;
    border: 2px solid #444;
    background: #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #999;
    outline: none;
}
img {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.navbar {
    background: #000;
}
.navbar-brand {
    padding: 5px 5px;
}
.nav > li > a {
    color: #999;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #282828;
    color: #eee;
}
.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus {
    color: #f9aa03;
    background-color: #282828;
}
.navbar-toggle {
    background-color: #282828;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #2f2f2f;
}
.icon-bar {
    background-color: #999;
}
.padded-header {
    margin: 25px 0 25px 0;
}
.padded-header h1,h2,h3,h4,h5,h6 {
    color: #eee;
}
.padded-header h3 {
    font-size: 20px;
}
.activity-progress {
    overflow: hidden;
    height: 4px;
    background-color: #111;
    float: left;
    width: 100%;
    margin: 0 10px 5px 0;
}
.activity-progress .bar {
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
.btn {
    outline:0px !important;
    -webkit-appearance:none;
}
.btn-activity-info,
.btn-activity-info:focus {
    color: #aaa;
    background-color: rgba(0,0,0,0.5);
}
.btn-activity-info:hover {
    color: #eee;
}
.btn-dark {
    color: #d7d7d7;
    background-color: #3B3B3B;
    border-color: transparent;
}
.btn-dark:focus,
.btn-dark.focus {
  color: #d7d7d7;
  background-color: #3B3B3B;
}
.btn-dark:hover {
  color: #fff;
  background-color: #333;
  border-color: #444;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #333;
  border-color: #444;
}
.btn-dark:active:hover,
.btn-dark.active:hover,
.open > .dropdown-toggle.btn-dark:hover,
.btn-dark:active:focus,
.btn-dark.active:focus,
.open > .dropdown-toggle.btn-dark:focus,
.btn-dark:active.focus,
.btn-dark.active.focus,
.open > .dropdown-toggle.btn-dark.focus {
  color: #fff;
  background-color: #333;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}
.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled.focus,
.btn-dark[disabled].focus,
fieldset[disabled] .btn-dark.focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #333;
  color: #aaa;
}
.btn-dark .badge {
  color: #e5e5e5;
  background-color: #3B3B3B;
}
.btn-bright {
    color: #fff;
    background-color: #eb8600;
    border-color: transparent;
}
.btn-bright:focus,
.btn-bright.focus {
  color: #fff;
  background-color: #eb8600;
}
.btn-bright:hover {
  color: #fff;
  background-color: #E69400;
  border-color: #f9aa03;
}
.btn-bright:active,
.btn-bright.active,
.open > .dropdown-toggle.btn-bright {
  color: #fff;
  background-color: #eb8600;
}
.btn-bright:active:hover,
.btn-bright.active:hover,
.open > .dropdown-toggle.btn-bright:hover,
.btn-bright:active:focus,
.btn-bright.active:focus,
.open > .dropdown-toggle.btn-bright:focus,
.btn-bright:active.focus,
.btn-bright.active.focus,
.open > .dropdown-toggle.btn-bright.focus {
  color: #fff;
  background-color: #eb8600;
}
.btn-bright:active,
.btn-bright.active,
.open > .dropdown-toggle.btn-bright {
  background-image: none;
}
.btn-bright.disabled,
.btn-bright[disabled],
fieldset[disabled] .btn-bright,
.btn-bright.disabled:hover,
.btn-bright[disabled]:hover,
fieldset[disabled] .btn-bright:hover,
.btn-bright.disabled:focus,
.btn-bright[disabled]:focus,
fieldset[disabled] .btn-bright:focus,
.btn-bright.disabled.focus,
.btn-bright[disabled].focus,
fieldset[disabled] .btn-bright.focus,
.btn-bright.disabled:active,
.btn-bright[disabled]:active,
fieldset[disabled] .btn-bright:active,
.btn-bright.disabled.active,
.btn-bright[disabled].active,
fieldset[disabled] .btn-bright.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-bright .badge {
  color: #fff;
  background-color: #eb8600;
}
.modal-header {
    padding: 15px 20px;
    background-color: #323232;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #1C1C1C;
}
.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 600px;
    padding: 15px;
    background-color: #222222;
}
.modal-body table {
    color: #fff;
}
.modal-body li {
    margin-top: 7px;
    margin-left: 4px;
    color: #aaa;
}
.modal-body li strong {
    color: #eee;
}
.modal-body i {
    color: #F9AA03;
}
.modal-body i.fa {
    color: #fff;
}
.modal-body strong {
    color: #F9AA03;
}
.modal-footer {
    padding: 15px 20px;
    margin-top: 0;
    background-color: #323232;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #1C1C1C;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    margin: 5px 0 5px 0;
    color: #fff;
    border: 0px solid #444;
    background: #555;
    height: 32px;
    padding: 6px 12px;
    background-color: #555;
    border-radius: 3px;
    transition: background-color .3s;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: #262626;
    border: 1px solid #444444;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #F9AA03;
    border: 1px solid #444444;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #F9AA03;
    border-color: #444444;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #444444;
    cursor: not-allowed;
    background-color: #262626;
    border-color: #444444;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #af6c17;
}
.nav-pills > li > a {
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 0 20px 0;
}
.btn-form {
    padding: 4px 12px;
    margin: 5px 0 5px 0;
    font-size: 14px;
    font-weight: normal;
    height: 32px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
      touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    background-image: none;
    background-color: #3B3B3B;
    color: #e5e5e5;
    border: 1px solid transparent;
    border-radius: 3px;
    outline:0px !important;
    -webkit-appearance:none;
}
.btn-form:hover {
    color: #fff;
    background-color: #333;
}
.btn-form:focus {
    color: #fff;
}
.form-control-feedback {
    position: absolute;
    color: #F9AA03;
    top: 0;
    right: 0;
    margin: 5px 10px 5px 0;
    z-index: 2;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    pointer-events: none;
}
.poster {
    float: left;
    min-height: 225px;
    min-width: 150px;
    margin-bottom: 8px;
    position: relative;
}
.poster-face {
    background-position: center;
    background-size: cover;
    height: 225px;
    width: 150px;
    position: relative;
    webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    overflow: hidden;
}
.cover-face {
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: 0;
    webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
}
.users-poster-face {
    overflow: hidden;
    float: left;
    background-size: contain;
    height: 40px;
    width: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
}
.users-poster-face img {
    bottom: 0;
    overflow: hidden;
    float: left;
    background-color: #323232;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    width: 40px;
    height: 40px;
}
.users-poster-face img:hover{
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 2px #F9AA03;
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 2px #F9AA03;
}
.users-name {
    position: relative;
}
.platform {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    float: left;
}
.dashboard-activity-metadata-wrapper {
    position: relative;
    left: 0px;
    width: 250px;
    font-size: 13px;
}
.dashboard-activity-button-info {
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 1;
}
.dashboard-activity-poster-face {
    height: 141px;
    width: 250px;
    position: relative;
    top: 0px;
    background-color: rgba(255,255,255,.03);
    margin-bottom: 11px;
    text-align: center;
}
.dashboard-activity-poster-face img {
    bottom: 0;
    overflow: hidden;
    height: 140px;
    min-width: 140px;
    max-width: 250px;
}
.dashboard-activity-poster-music-bg {
    background-position: center;
    position:absolute;
    width:100%;
    height:100%;
    opacity: 0.7;
    z-index: -999;
}
.dashboard-activity-poster-info-bar {
    position:absolute;
    color: #F9AA03;
    bottom: 0;
    width:100%;
    height: 100px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
}
.dashboard-activity-poster-info-text {
    position: absolute;
    bottom: 0;
    left: 0;
    float: left;
    text-align: left;
    padding: 5px 8px;
    font-size: 12px;
    color: #eee;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}
.dashboard-activity-poster-info-time {
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    text-align: right;
    padding: 5px 8px;
    font-size: 12px;
    color: #eee;
}
.dashboard-activity-metadata-user {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    margin-right: 5px;
    float: left;
}
.dashboard-activity-metadata-user a {
    color: #F9AA03;
}
.dashboard-activity-metadata-user a:hover {
    color: #FFCD62;
}
.dashboard-activity-metadata-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    width: 80%;
    margin-right: 5px;
    color: #fff;
    float: left;
}
.dashboard-activity-metadata-title a:hover {
    color: #F9AA03;
}
.dashboard-activity-metadata-platform {
    float: right;
}
.dashboard-activity-metadata-platform img {
    width: 40px;
    height: 40px;
}
.dashboard-activity-metadata-progress-wrapper {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #F9AA03;
}
.dashboard-activity-metadata-progress-minutes {
    width: 100%;
}
.dashboard-activity-instance-overlay {
    position: relative;
    top: -12px;
    text-align: left;
    height: 53px;
    width: 250px;
    border-radius: 0 0 3px 3px;
}
.dashboard-activity-info-details-overlay {
    text-align: left;
    background-color: rgba(0,0,0,0.5);
    width: 250px;
    padding: 5px 0px 5px 0px;
}
.dashboard-activity-info-details-content {
    margin-left: 5px;
    margin-right: 5px;
    width: 245px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #999;
}
.dashboard-activity-info-details-content strong {
    color: #fff;
    font-weight: normal;
}
.instance {
    padding-bottom: 15px;
    float: left;
    position: relative;
    margin-right: 27px;
}
.dashboard-recent-media-row {
    width: 100%;
    margin:0 auto;
    text-align: center;
}
.dashboard-recent-media {
    width: 100%;
    margin: auto;
    list-style: none;
}
.dashboard-recent-media-instance {
}
.dashboard-recent-media-instance a:hover .poster-face {
    webkit-box-shadow: inset 0 0 0 2px #e9a049;
    -moz-box-shadow: inset 0 0 0 2px #e9a049;
    box-shadow: inset 0 0 0 2px #e9a049;
}
.dashboard-recent-media li {
    margin-right: 27px;
    position: relative;
    float: left;
    min-height: 340px;
}
.dashboard-recent-media-metacontainer{
    width: 153px;
    font-size: 13px;
    margin-bottom: 20px;
    clear: both;
}
.dashboard-recent-media-metacontainer h3 {
    padding: 5px 3px 0 3px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    margin: 0;
    line-height: 15px;
    font-weight: normal;
    width: 153px;
    white-space: nowrap;
    text-align: left;
    clear: both;
}
.dashboard-recent-media-metacontainer .text-muted {
    padding: 5px 3px 0 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-align: left;
}
.art-face {
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 100%;
    height: 540px;
    overflow: hidden;
    min-width: 280px;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 0px rgba(0,0,0,0.75);
    box-shadow: 0 0 0px rgba(0,0,0,0.75);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    clear: both;
}
.art-face img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: #1d1d1d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.art-music-face {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    width: 250px;
    height: 141px;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 0px rgba(0,0,0,0.75);
    box-shadow: 0 0 0px rgba(0,0,0,0.75);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    clear: both;
}
.summary-wrapper {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.summary-overlay {
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    font-size: 14px;
    height: auto;
    position: relative;
    top: 0px;
    border-color: #1d1d1d;
    border: 2px solid #191919;
}
.summary-content-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.summary-content-poster {
    position: relative;
    top: -10px;
    float: left;
    margin-left: 20px;
    width: 174px;
    height: 260px;
}
.summary-content-poster a:hover .poster-face {
    webkit-box-shadow: inset 0 0 0 2px #e9a049;
    -moz-box-shadow: inset 0 0 0 2px #e9a049;
    box-shadow: inset 0 0 0 2px #e9a049;
}
.summary-content-poster img {
    bottom: 0;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(128, 128, 128, 0.3);
}
.summary-content {
    position: relative;
    top: 0px;
    left: 20px;
    color: #999;
    height: auto;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
}
.summary-content-title h1{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #F9AA03;
    font-size: 24px;
    line-height: 32px;
    float: left;
}
.summary-content-title h1 a{
    color: #F9AA03;
}
.summary-content-title h1 a:hover{
    color: #F9AA03;
    text-decoration: underline;
}
.summary-content-details-wrapper {
    width: 100%;
    padding-bottom: 15px;
    margin-top: -10px;
    clear: both;
    position: relative;
    top: -15px;
}
.summary-content-director {
    float: left;
    margin-right: 10px;
    line-height: 24px;
}
.summary-content-director strong {
    color: #fff;
    margin-left: 2px;
}
.summary-content-studio {
    float: left;
    margin-right: 10px;
    line-height: 24px;
}
.summary-content-studio strong {
    color: #fff;
    margin-left: 2px;
}
.summary-content-airdate {
    float: left;
    margin-right: 10px;
    line-height: 24px;
}
.summary-content-airdate strong {
    color: #fff;
    margin-left: 2px;
}
.summary-content-duration {
    float: left;
    margin-right: 10px;
    line-height: 24px;
}
.summary-content-duration strong {
    color: #fff;
    margin-left: 2px;
}
.summary-content-content-rating {
    float: left;
    line-height: 24px;
    margin-right: 10px;
}
.summary-content-content-rating strong {
    color: #fff;
    margin-left: 2px;
}
.summary-content-summary {
    overflow: hidden;
    color: #fff;
    float: left;
    position: relative;
    clear: both;
    padding-right: 10px;
    height: auto;
    max-height: 160px;
    padding-bottom: 0px;
}
.summary-content-people-wrapper {
    margin-top: 25px;
    margin-right: 25px;
    float: left;
}
.summary-content-people-wrapper hidden-phone hidden-tablet {
    overflow: hidden;
    height: auto;
    min-height: 0px;
}
.summary-content-actors {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 15px;
    font-size: 12px;
    line-height: 18px;
    color: #999;
    overflow: hidden;
}
.summary-content-actors ul {
    padding-left:20px;
}
.summary-content-actors li {
    list-style: none;
    list-style-image: none;
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}
.summary-content-genres {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 15px;
    font-size: 12px;
    line-height: 18px;
    color: #999;
    overflow: hidden;
}
.summary-content-genres ul {
    padding-left:20px;
}
.summary-content-genres li {
    list-style: none;
    list-style-image: none;
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}
.summary-content-writers {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 15px;
    font-size: 12px;
    line-height: 18px;
    color: #999;
    overflow: hidden;
}
.summary-content-writers ul {
    padding-left: 20px;
}
.summary-content-writers li {
    list-style: none;
    list-style-image: none;
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}
.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    float: right;
    margin-top: 23px;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
}
.rateit .rateit-range {
    background: url(../images/star-gray-16.png);
    height: 16px;
}
.rateit .rateit-selected {
    background: url(../images/star-16.png);
}
.season-episodes-wrapper {
}
.season-episodes-instance {
    list-style: none;
    margin: 0 0 0px 0px;
}
.season-episodes-instance li {
    float: left;
    position: relative;
    left: 0px;
    margin-right: 25px;
}
.season-episodes-instance a:hover .season-episodes-card-overlay {
    webkit-box-shadow: inset 0 0 0 2px #e9a049;
    -moz-box-shadow: inset 0 0 0 2px #e9a049;
    box-shadow: inset 0 0 0 2px #e9a049;
}
.season-episodes-poster {
    float: left;
    position: relative;
    left: 0px;
}
.season-episodes-poster-face {
    background-position: center;
    background-size: cover;
    height: 140px;
    width: 250px;
    position: relative;
    webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
}
.season-episodes-poster-face img {
    bottom: 0;
    overflow: hidden;
    width: 205px;
    height: 115px;
}
.season-episodes-poster-face    img:hover {
    webkit-box-shadow: 0 0 0 2px #F9AA03;
    -moz-box-shadow: 0 0 0 2px #F9AA03;
    box-shadow: 0 0 0 2px #F9AA03;
}
.season-episodes-card-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
    height: 140px;
}
.season-episodes-card-overlay-index {
    color: #fff;
    font-size: 11px;
    text-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.season-episodes-instance-text-wrapper {
    width: 250px;
    font-size: 13px;
    margin-bottom: 20px;
    clear: both;
}
.season-episodes-instance-text-wrapper h3 {
    padding: 5px 3px 0 3px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    margin: 0;
    line-height: 15px;
    font-weight: normal;
    width: 250px;
    white-space: nowrap;
    text-align: left;
    clear: both;
}
.season-episodes-title a {
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 205px;
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.season-episodes a:hover {
    color: #F9AA03;
}
.season-episodes-season {
    color: #aaa;
    font-size: 12px;
    float: left;
    position: absolute;
    left: 8px;
    bottom: 5px;
}
.user-info-wrapper {
    height: 113px;
}
.user-info-poster-face {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    background-size: contain;
    height: 80px;
    width: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
}
.user-info-poster-face img {
    bottom: 0;
    margin-right: 15px;
    overflow: hidden;
    float: left;
    background-color: #323232;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
}
.user-info-username {
    font-size: 24px;
    color: #fff;
    position: relative;
    top: 27px;
}
.user-info-nav {
    position: relative;
    top: 15px;
    left: -5px;
}
.user-info-nav > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #F9AA03;
}
.user-info-nav a:hover {
    text-decoration: none;
}
.user-info-nav ul {
    list-style: none;
}
.user-info-nav li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.user-overview-stats-wrapper {
}
.user-overview-stats-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0px 0px 0px 0px;
}
.user-overview-stats-instance {
    float: left;
    width: 350px;
    height: 80px;
    margin-bottom: 25px;
}
.user-overview-stats-instance-device_icon {
    float: left;
    padding-right: 15px;
}
.user-overview-stats-instance-device_icon img{
}
.user-overview-stats-instance li {
    float: left;
    list-style: none;
    width: 340px;
    height: 90px;
}
.user-overview-stats-instance-text {
    position: relative;
    top: 0px;
    left: 0px;
}
.user-overview-stats-instance p {
    color: #aaa;
    font-size: 12px;
    float: left;
    position: relative;
    top: 14px;
    left: 0px;
}
.user-overview-stats-instance h3 strong{
    color: #fff;
}
.user-overview-stats-instance h3 {
    font-size: 30px;
    font-weight: bold;
    color: #F9AA03;
    line-height: 22px;
    position: relative;
    top: 5px;
    margin: 0 5px 0 10px;
    float: left;
}
.user-overview-stats-instance h4 {
    color: #fff;
    margin-bottom: 25px;
}
.user-overview-stats-instance h1 {
    font-size: 54px;
    font-weight: normal;
    float: left;
    color: #333;
    color: rgba(255,255,255,0.05);
    text-shadow: none;
    position: relative;
    top: 3px;
    left: 3px;
}
.user-platforms ul {
    list-style: none;
    margin: 0;
}
.user-platforms-instance {
    float: left;
    width: 240px;
    height: 80px;
    margin-bottom: 25px;
}
.user-platforms-instance li {
}
.user-platforms-instance-box {
    float: left;
    width: 75px;
    border-radius: 3px;
    webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    background-size: contain;
    position: relative;
    height: 80px;
    width: 80px;
}
.user-platforms-instance-name {
    float: left;
    padding-top: 14px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    line-height: 15px;
    font-weight: normal;
    width: 140px;
    margin-left: 10px;
}
.user-platforms-instance-playcount h3 {
    font-size: 30px;
    font-weight: bold;
    color: #F9AA03;
    line-height: 22px;
    position: relative;
    top: 5px;
    margin: 0 5px 0 10px;
    float: left;
}
.user-platforms-instance-playcount p {
    color: #aaa;
    font-size: 12px;
    float: left;
    position: relative;
    top: 14px;
    left: 0px;
}
.home-platforms {
}
.home-platforms ul {
    list-style: none;
    margin: 0;
}
.home-platforms-instance-poster {
    margin-left: 0px;
}
.home-platforms-instance-poster .poster-face {
    height: 120px;
    width: 80px;
}
.home-platforms-instance-box {
    background-size: contain;
    position: absolute;
    left: 10px;
    bottom: 35px;
    height: 80px;
    width: 80px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
}
.home-platforms-instance-oval {
    background-size: contain;
    position: absolute;
    left: 10px;
    bottom: 35px;
    height: 80px;
    width: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    webkit-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3),inset 0 0 0 1px rgba(255,255,255,.1);
}
.home-platforms-instance-name {
    float: left;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    width: 100%;
    padding: 10px 0 0 10px;
}
.home-platforms-instance-playcount {
    float: left;
    width: 180px;
}
.home-platforms-instance-mediainfo {
    float: left;
    background-color: #282828;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 170px;
    width: 100%;
    height: 175px;
}
.home-platforms-instance-media {
    position: relative;
    float: left;
    width: 375px;
    height: 225px;
    padding-bottom: 10px;
    margin-right: 25px;
    margin-bottom: 25px;
    webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.home-platforms-instance-info {
    float: left;
    background-color: #282828;
    position: absolute;
    top: 5px;
    left: 0;
    padding-left: 100px;
    width: 100%;
    height: 120px;
}
.home-platforms-instance {
    background-color: #282828;
    position: relative;
    float: left;
    width: 300px;
    height: 120px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.home-platforms-instance a:hover .poster-face {
    webkit-box-shadow: inset 0 0 0 2px #e9a049;
    -moz-box-shadow: inset 0 0 0 2px #e9a049;
    box-shadow: inset 0 0 0 2px #e9a049;
}
.history-table-title {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 350px;
}
.graphs-instance {
    height: 330px;
    padding: 20px;
    background-color: #333;
    margin-bottom: 20px;
    border-radius: 8px;
}
.watch-chart {
    margin-top: 10px;
    height: 300px;
    width: 100%;
}
.graphs-load {
    color: #999999;
    text-align: center;
    line-height: 300px;
}
.card-back {
    padding: 16px;
    background-color: #282828;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    overflow: hidden;
}
.card-back-full {
    padding: 20px;
    background-color: #282828;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.table-card-back {
    padding: 16px 16px 16px 16px;
    background-color: #282828;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    overflow: hidden;
}
.table-card-header {
    padding: 16px 16px 16px 16px;
    background-color: #2c2c2c;
    border-bottom: 1px solid #3d3d3d;
    border-top: 1px solid #282828;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: -20px;
    width: 90%;
    overflow: hidden;
}
.table-card-back td {
    font-size: 12px;
}
.header-bar {
    float: left;
}
.header-bar span {
    font-size: 22px;
    line-height: 34px;
}
.button-bar {
    float: right;
}
.colvis-button-bar {
    float: right;
}
.nav-settings,
.nav-settings ul {
    margin: 0px 0px 20px 0px;
}
.nav-settings > li {
    list-style: none;
    background-color: #282828;
    width: 100%;
    max-width: 340px;
    min-width: 200px;
    border-top: 1px solid #2d2d2d;
}
.nav-settings > li > a {
    display: block;
    padding: 15px 15px 15px 15px;
    color: #999;
    -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
}
.nav-settings > li > a:hover,
.nav-settings > li > a:focus {
    color: #eee;
    background-color: #2f2f2f;
}
.nav-settings > .active > a,
.nav-settings > .active > a:hover,
.nav-settings > .active > a:focus {
    color: #eb8600;
    background-color: #2f2f2f;
}
.stacked-configs,
.stacked-configs ul {
    margin: 0px 0px 20px 0px;
}
.stacked-configs > li {
    list-style: none;
    background-color: #282828;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
}
.stacked-configs > li > span {
    display: block;
    padding: 8px 20px 8px 15px;
    color: #eee;
    border-left: 2px solid #444;
    border-top: 1px solid #2d2d2d;
    -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
}
.stacked-configs > li > span:hover,
.stacked-configs > li > span:focus {
    color: #eee;
    background-color: #2f2f2f;
}
.stacked-configs > li > span > a.toggle-right {
    float: right;
    color: #999;
    padding-left: 10px;
}
.stacked-configs > li > span > a.toggle-left {
    color: #444;
    padding-right: 8px;
}
.stacked-configs > li > span > a:hover {
    color: #eee;
}
.stacked-configs > li > span > a.active {
    color: #eb8600;
}
.accordion {
    width: 100%;
    max-width: 900px;
    margin: 0px 0px 20px 0px;
    background: #282828;
    list-style: none;
}
.accordion .link {
    cursor: pointer;
    display: block;
    padding: 8px 20px 8px 30px;
    color: #999;
    border-bottom: 1px solid #2d2d2d;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.accordion li:last-child .link {
    border-bottom: 0;
}
.accordion li i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}
.accordion li .link:hover {
    color: #FFF;
    background: #2f2f2f;
}
.accordion li.open .link {
    color: #eb8600;
}
.accordion li.open i {
    color: #eb8600;
}
.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.submenu {
    display: none;
    background: #2d2d2d;
    list-style: none;
    margin: 0px;
    padding: 20px;
}
.submenu li {
    border-bottom: 1px solid #2f2f2f;
}
.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.submenu a:hover {
    background: #eb8600;
    color: #FFF;
}
.ajaxMsg {
    background-color: rgba(255,255,255,0.075);
    color: #999999;
    display: none;
    font-size: 14px;
    right: 10px;
    padding: 10px 10px;
    position: fixed;
    text-align: center;
    bottom: 10px;
    min-height: 32px;
    width: 250px;
    z-index: 9999;
}
.ajaxMsg .msg {
    line-height: normal;
    padding-left: 20px;
}
.ajaxMsg .loader {
    position: relative;
    top: 2px;
}
.ajaxMsg .success {
    text-align: left;
}
.ajaxMsg .error {
    background-color: rgba(255,0,0,0.5);
    font-size: 20px;
    text-align: left;
}
.ajaxMsg .ui-icon {
    display: inline-block;
    margin-left: -20px;
    top: 2px;
    position: relative;
    margin-right: 3px;
}
.dataTables_processing {
    background-color: grey;
    display: none;
    font-size: 14px;
    right: 10px;
    padding: 10px 10px;
    position: fixed;
    text-align: center;
    bottom: 10px;
    min-height: 32px;
    width: 250px;
    z-index: 9999;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #fff;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #fff;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #fff;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #fff;
}
.tooltip-inner {
    color: #000;
    background: #fff;
    border: 0;
    font-weight: bold;
}
.history-title .popover.right {
    margin-left: 12px;
}
.history-title .popover.right .popover-content {
    padding: 5px 8px;
}
.edit-user-toggles {
    padding-right: 10px;
}
.edit-user-toggles > input[type='checkbox'] {
    display: none;
}
.edit-user-toggles > input[type='checkbox'] + label {
    color: #444;
    cursor: pointer;
}
.edit-user-toggles > input[type='checkbox']:checked + label {
    color: #fff;
    cursor: pointer;
}
.popover {
    z-index: 2;
}
.popover .popover-content {
    color: #000;
}
.noTransition
{
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
#users-to-delete > li {
    color: #e9a049;
}
#updatebar {
    background-color: #444;
    color: #999999;
    display: none;
    font-size: 14px;
    right: 10px;
    padding: 7px 10px;
    position: fixed;
    text-align: center;
    bottom: 10px;
    min-height: 22px;
    width: 250px;
    z-index: 9999;
    display: block;
}
#updatebar .msg {
    line-height: normal;
    padding-left: 20px;
}
#updatebar .loader {
    position: relative;
    top: 2px;
}
#updatebar.success {
    padding: 15px 10px;
    text-align: left;
}
#updatebar.error {
    padding: 15px 10px;
    text-align: left;
}
#updatebar .ui-icon {
    display: inline-block;
    margin-left: -20px;
    top: 2px;
    position: relative;
    margin-right: 3px;
}

#updatebar a:hover {
    color: #F9AA03;
}