
.ajaxMsg {
  background-color: rgba(255,255,255,0.075);
  color: #999999;
  display: none;
  font-size: 14px;
  right: 10px;
  padding: 10px 10px;
  position: fixed;
  text-align: center;
  bottom: 10px;
  min-height: 32px;
  width: 250px;
  z-index: 9999;
}
.ajaxMsg .msg {
  line-height: normal;
  padding-left: 20px;
}
.ajaxMsg .loader {
  position: relative;
  top: 2px;
}
.ajaxMsg .success {
  text-align: left;
}
.ajaxMsg .error {
  background-color: rgba(255,0,0,0.5);
  font-size: 20px;
  text-align: left;
}
.ajaxMsg .ui-icon {
  display: inline-block;
  margin-left: -20px;
  top: 2px;
  position: relative;
  margin-right: 3px;
}

.dataTables_processing {
  background-color: grey;
  display: none;
  font-size: 14px;
  right: 10px;
  padding: 10px 10px;
  position: fixed;
  text-align: center;
  bottom: 10px;
  min-height: 32px;
  width: 250px;
  z-index: 9999;
}

#updatebar {
  background-color: rgba(255,255,255,0.075);
  color: #999999;
  display: none;
  font-size: 14px;
  right: 10px;
  padding: 7px 10px;
  position: fixed;
  text-align: center;
  bottom: 10px;
  min-height: 22px;
  width: 250px;
  z-index: 9999;
  display: block;
}
#updatebar .msg {
  line-height: normal;
  padding-left: 20px;
}
#updatebar .loader {
  position: relative;
  top: 2px;
}
#updatebar.success {
  padding: 15px 10px;
  text-align: left;
}
#updatebar.error {
  padding: 15px 10px;
  text-align: left;
}
#updatebar .ui-icon {
  display: inline-block;
  margin-left: -20px;
  top: 2px;
  position: relative;
  margin-right: 3px;
}

#updatebar a:hover {
  color: #F9AA03;
}

