appdirs==1.4.4
apscheduler==3.9.1
arrow==1.2.3
backports.csv==1.0.7
backports.functools-lru-cache==1.6.4
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==5.0.0
certifi==2022.5.18.1
cheroot==8.6.0
cherrypy==18.6.1
cloudinary==1.29.0
distro==1.7.0
dnspython==2.2.1
facebook-sdk==3.1.0
future==0.18.2
gntp==1.0.3
html5lib==1.1
httpagentparser==1.9.2
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.7.1
git+https://github.com/Tautulli/ipwhois.git@master#egg=ipwhois
IPy==1.01
Mako==1.2.0
MarkupSafe==2.1.1
musicbrainzngs==0.7.1
packaging==21.3
paho-mqtt==1.6.1
plexapi==4.12.1
portend==3.1.0
profilehooks==1.12.0
PyJWT==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-twitter==3.5
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.1
rumps==0.3.0; platform_system == "Darwin"
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.2.post1
tempora==5.0.1
tokenize-rt==4.2.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
webencodings==0.5.1
websocket-client==1.3.2
xmltodict==0.13.0
zipp==3.8.0

# configobj==5.1.0
# sgmllib3k==1.0.0
# git+https://github.com/JonnyWong16/infi.systray.git@develop#egg=infi.systray
