apscheduler==3.8.1
importlib-resources==5.2.2
pyinstaller==4.5.1
pyopenssl==21.0.0
pycryptodomex==3.11.0

pyobjc-framework-Cocoa==7.3; platform_system == "Darwin"
pyobjc-core==8.0; platform_system == "Darwin"

pywin32==302; platform_system == "Windows"
