apscheduler==3.8.0
importlib-resources==5.4.0
pyinstaller==4.9
pyopenssl==22.0.0
pycryptodomex==3.14.1

pyobjc-framework-Cocoa==8.2; platform_system == "Darwin"
pyobjc-core==8.3; platform_system == "Darwin"

pywin32==303; platform_system == "Windows"
